h1,
h2,
h3,
h4{
  font-family: "Montserrat";
  font-weight: bolder;
}

p, text, textarea, label, ::placeholder, .option, button {
  font-family: "Courier Prime";
}

.footer {
    position: absolute;
    bottom:0;
    width: 100;
    height: 60px;
    background-color: black;
}